<div class="container">
  <h2>Avatar</h2>
  <div class="canvas-avatar">
    <div class="cuerpo" 
        [class.girar]="girando()"
        [style.background-color]="colorFondo()"
        [style.width.px]="tamano()"
        [style.height.px]="tamano()"
        >

      <div class="ojos">
        <div class="ojo"></div>
        <div class="ojo"></div>
        @if (tieneLentes()){
          <div class="lentes"></div>
        }
      </div>
      <div class="boca">
        @switch (tipoExpresion()){
          @case (1) {<div class="feliz"></div>}
          @case (2) {<div class="sorprendido"></div>}
          @case (3) {<div class="serio"></div>}
        }
        </div>
    </div>
  </div>
    <h3 
        *ngIf="nombreMostrado()" 
        [style.color]="colorFondo()"
        >
        {{ nombreMostrado() }}
    </h3>
  <div style="margin-top: 15px;">
    <input 
        type="text" 
        placeholder="Escribe un nombre"
        (input)="cambiarNombre($event)"
    />

    
    <button (click)="mostrarNombre()">
        Aceptar
    </button>

    <button (click)="toggleGiro()" style="margin-top:15px;">
        Girar cabeza
    </button>

    
    
<div class="controles">
  <label color>
     <input type="color" [value]="colorFondo()" (input)="cambiarColor($event)" >
  </label>

  <label Tamaño>
    <input type="range" min="100" max="300" [value]="tamano()" (input)="cambiarTamano($event)" >
  </label>
  <button (click)="toggleLentes()">
  {{tieneLentes()? 'Quitar lentes' : 'Poner lentes'}} (Boolean)
  </button>
  <div class="expresiones">
   <p> Expresión </p>
    <button (click)="setExpresion(1)">feliz</button>
    <button (click)="setExpresion(2)">sorprendido</button>
    <button (click)="setExpresion(3)">serio</button>
  </div>
</div >
</div>