<div>
    <h2>Avatar</h2>
    <div class="canvas-avatar">
        <div class="cuerpo"
            [style.background-color]="colorFondo()"
            [style.width.px]="tamano()"
            [style.height.px]="tamano()">
        <div class="ojos">
            <div class="ojo"></div> </div>
            <div class="ojo"></div> </div>
            @if(tieneLentes()) {
                <div class="lentes"></div>
            }
        </div>
        <div class="boca"
            @switch (tipoExpresion()) {
                @case (1) {{<div> feliz</div>}}
                @case (2) {{<div> sorprendido</div>}}
                @case (3) {{<div> serio</div>}}
            }     
        </div>
</div>   